.version.index /* version checker */
{
	color: #0000F6;
	background-color: #C67137;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 2999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 30px;
}

#u126
{
	z-index: 55;
	width: 1024px;
	height: 576px;
	background-color: transparent;
	margin-left: 88px;
	position: relative;
}

#U189_animation
{
	width: 1024px;
	height: 576px;
	border: none;
}

#u76-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	margin-left: 88px;
	margin-top: 41px;
	position: relative;
}

#u79-6
{
	z-index: 18;
	width: 1024px;
	min-height: 71px;
	background-color: transparent;
	line-height: 26px;
	font-size: 17px;
	text-align: justify;
	margin-left: 88px;
	position: relative;
}

#u87-4
{
	z-index: 6;
	display: block;
	vertical-align: top;
	margin-left: 88px;
	margin-top: 54px;
	position: relative;
}

#u86-4
{
	z-index: 24;
	width: 1024px;
	min-height: 71px;
	background-color: transparent;
	line-height: 26px;
	font-size: 17px;
	text-align: justify;
	margin-left: 88px;
	position: relative;
}

#pu88
{
	width: 0.01px;
	margin-left: 119px;
	margin-top: 28px;
}

#u88
{
	z-index: 36;
	width: 400px;
	min-height: 450px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u92
{
	z-index: 38;
	width: 400px;
	min-height: 450px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 464px;
}

#u112-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	margin-left: 75px;
	margin-top: 95px;
	position: relative;
}

#u113-4
{
	z-index: 28;
	width: 1037px;
	min-height: 71px;
	background-color: transparent;
	line-height: 26px;
	font-size: 17px;
	text-align: justify;
	margin-left: 75px;
	position: relative;
}

#pu114
{
	width: 0.01px;
	margin-left: 119px;
	margin-top: 18px;
}

#u114
{
	z-index: 37;
	width: 400px;
	min-height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u116
{
	z-index: 39;
	width: 400px;
	min-height: 500px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 464px;
}

#u125-4
{
	z-index: 41;
	width: 320px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #7F7F7F;
	text-align: right;
	margin-left: 199px;
	position: relative;
}

#u118-4
{
	z-index: 14;
	display: block;
	vertical-align: top;
	margin-left: 75px;
	margin-top: 28px;
	position: relative;
}

#u119-4
{
	z-index: 32;
	width: 1037px;
	min-height: 71px;
	background-color: transparent;
	line-height: 26px;
	font-size: 17px;
	text-align: justify;
	margin-left: 75px;
	position: relative;
}

#pu120
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 10px;
}

#u120
{
	z-index: 40;
	width: 1200px;
	height: 600px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#U185_animation
{
	width: 1200px;
	height: 600px;
	border: none;
}

#u193-10
{
	z-index: 45;
	width: 554px;
	min-height: 85px;
	background-color: transparent;
	font-size: 14px;
	color: #7F7F7F;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 562px;
	left: 76px;
}

body
{
	position: relative;
	min-width: 1200px;
}

